* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #431dea;
  --box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
  --hover-shadow: 0px 4px 4px 0px rgba(3, 3, 3, 0.561);
  --nav-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  --light-black: #141c3a;
}

body {
  /* font-family: "Nunito", "sans-serif";
   */
   font-family:"Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  background-color: #fff0e5;
}

.container {
  width: 28%;
  margin: 100px auto;
}
.container h1{
    font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

form label {
  margin: 5px 0;
  font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

form input[type="email"],
input[type="password"] {
  height: 55px;
  margin: 5px 0;
  border: 0.5px solid #b8b8b85d;
  border-radius: 3px;
  padding: 0 15px;
  font-size: 20px;
  font-family: "Nunito", "sans-serif";
 
}

form a {
  margin: 10px 0;
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}

form input[type="submit"] {
  height: 50px;
  background: var(--main-color);
  font-size: 16px;
  /* font-family: "Nunito", "sans-serif"; */
  border: 5px solid #431dea;
  border-radius: 2px;
  color: white;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

form input[type="submit"]:hover {
  box-shadow: var(--box-shadow);
  transform: translate(-3px);
}

.button{
    align-items: center;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    font-weight: 700;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;

}

.footer h3 {
  font-size: 16px;
  opacity: 0.9;
}

.footer .images {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}
.footer .images img {
  width: 15%;
  border: 1px solid #e7e7e7;
  padding: 15px;
  border-radius: 3px;
  transition: 0.3s ease;
}
.footer .images img:hover{
    box-shadow: var(--hover-shadow);
    cursor: pointer;
}
.footer a{

}